* {
  --primary: #fff;
  --secondary: #f0f0f6;
  --yellow: #ffb400;
}

@media screen and (max-width: 768px) {
  .header-ul {
    width: 65%;
  }

  .side-nav {
    display: none;
  }

  .mobile-mydetails {
    height: fit-content;
    width: 70vw;
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-around;
    padding: 24px 31px;
  }

  .mobile-details-heading {
    display: block;
  }

  .display-picture {
    margin-top: 20px;
  }

  .name-container {
    font-size: 1.5em;
  }

  .title-container {
    font-size: 1.3em;
  }

  .social-ul>li {
    margin: 0px 2px;
  }

  .sub-section {
    width: 85%;

  }

  .sub-section h4 {
    font-size: 1.6em;
  }

  .language-details,
  .skill-details {
    font-size: 1.35em;
  }

  .progress {
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
  }

  .progress div {
    height: 1.2em;
    width: 1.2em;
    background-size: 1.2em;
  }

  .big-dp {
    margin-top: 276px;
    height: 276px;
    width: 276px;
    background-position: -16px 0;
    background-size: 276px;
  }

  .section-div {
    padding: 34px 37px;
  }

  .study-subjects,
  .work-details {
    font-size: 1.25em;
    line-height: 22px;
  }

  .company-name {
    font-size: 1.3em;
  }

  .project-cards-container {
    width: 75vw;
    overflow: scroll;
    align-items: center;
  }

  .project-section {
    height: 380px;
    width: 22em;
    font-size: 1em;
  }

  .project-details {
    font-size: 1.1em;
    overflow: scroll;
    scrollbar-width: 5px;
  }

  .contact-details-container {
    height: 150px;
    width: 80vw;
    padding: 13px 17px;
  }

  .contact-section {
    font-size: 1.05em;
  }
}

@media screen and (max-width: 480px) {
  .menu-container {
    height: 70px;
  }

  .header-ul {
    width: 85%;
  }

  .icon-container {
    height: 35px;
    width: 35px;
  }

  .icon-container img {
    height: 22px;
  }

  .content-container {
    margin-top: 85px;
  }

  .content-main {
    width: 100%;
  }

  section {
    width: 85vw;
  }

  #intro {
    display: none;
  }

  #intro-mobile {
    padding: 15px 18px;
    height: fit-content;
    display: flex;
    background-color: var(--primary);
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
  }

  .big-dp {
    margin-top: 1.2em;
    height: 17em;
    width: 14em;
    background-size: 15em;
  }

  .intro-headings {
    width: 85%;
    align-items: center;
  }

  .my-description {
    font-size: 26px;
  }

  .detailed-desc {
    width: 85%;
    font-size: 17px;
  }

  .section-heading {
    font-size: 30px;
  }

  .mobile-mydetails {
    padding: 8px 20px;
    margin-top: 36px;
  }

  .name-container {
    font-size: 1.3em;
  }

  .title-container {
    font-size: 1.1em;
  }

  .sub-section h4 {
    font-size: 1.4em;
  }

  .language-details,
  .skill-details {
    font-size: 1.175em;
  }

  .progress {
    width: 200px;
  }

  .progress div {
    font-size: 14px;
  }
}