@import url('https://fonts.googleapis.com/css2?family=Inter&family=Jost:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --primary: #fff;
  --secondary: #f0f0f6;
  --yellow: #ffb400;
}

body {
  background-color: var(--secondary);
}

.menu-container {
  background-color: var(--primary);
  height: 108px;
  box-shadow: 0px 0px 2px 0px gray;
}

ul {
  margin: 0;
}

.header-ul>li {
  padding: 40px;
  display: inline-block;
}

.social-ul>li {
  display: inline-block;
}

.social-ul {
  padding: 0;
}

.content-container {
  display: flex;
  margin-top: 10px;
}

.side-nav {
  width: 17%;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 22px 20px;
  height: 100%;
}

.content-main {
  margin-left: 20px;
  width: 81%;
  /* background-color: var(--primary); */
}

.icon-container {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: var(--secondary);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon-container:hover {
  background-color: #d9d9d9;
}

.icon-container img {
  height: 25px;
}

.display-picture {
  width: 110px;
  height: 112px;
  background-color: var(--secondary);
  border-radius: 50%;
  margin: 0 auto;
  background-image: url('./pictures/dp.jpeg');
  background-size: 117px;
  background-repeat: no-repeat;
}

.name-container {
  margin: 10px auto;
  font-weight: 500;
  font-size: 18px;
  line-height: 123.6%;
}

.title-container {
  color: #767676;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 8px auto;
  text-transform: capitalize;
}

.social-icons img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--yellow);
  padding: 5px;
  cursor: pointer;
}

.social-links {
  margin: 10px auto;
}

.breakline {
  background-color: var(--secondary);
  width: 100%;
  margin: 24px auto;
  opacity: 0.5;
  box-shadow: 0px 1px 3px gray;
}

.property {
  background-color: var(--yellow);
  margin: 0;
}

.personal-details-container {
  margin: 10px auto;
  min-width: 180px;
}

.personal-details {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 15px;
}

.progress {
  width: 185px;
  height: 4px;
  background-color: var(--primary);
  border-radius: 10px;
  /* padding: 1px 0; */
  padding-left: 1px;
  padding-top: 1px;
  border: 1px solid var(--yellow);
  margin: 15px auto;
}

.current-progress {
  position: absolute;
  display: inline-block;
  background-color: var(--yellow);
  padding-right: 1px;
  height: 2px;
}

.skill-icon {
  padding: 0;
  height: 7px;
  /* opacity: 0.4; */
  /* background-color: yellow; */
  border-radius: 50%;
}

.eskill {
  opacity: 0.8;
  margin-left: 10px;
}

.download {
  background-color: var(--yellow);
  text-transform: uppercase;
  border: none;
  width: 180px;
  height: 40px;
  background-image: url("./icons/download.svg");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: 150px 9px;
}

.download:hover {
  background-color: hsl(45, 100%, 50%);
  cursor: pointer;
  /* font-weight: bold; */
  background-position: 148px 7px;
  background-size: 22px;
}

.intro {
  height: 350px;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary);
  padding: 49px 69px 0 57px;
  margin: 0 auto;
}

.div-shadow-1{
  box-shadow: 0px 1px 4px 0px gray;
}

.section{
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.intro-headings {
  width: 50%;
}

.my-description {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 123.6%;
  color: #2b2b2b;
}

.colored-desc {
  color: var(--yellow);
}

.detailed-desc {
  opacity: 0.9;
  width: 424px;
  height: 88px;
}

.hireme {
  background-color: var(--yellow);
  border-radius: 5px;
  text-transform: uppercase;
  border: none;
  padding: 12px 18px;
  cursor: pointer;
  font-size: 15px;
}

.hireme:hover {
  font-size: 17px;
  padding: 11px 14px;
}

.big-dp {
  height: 335px;
  width: 410px;
  background-image: url("./pictures/dp.jpeg");
  background-size: 320px;
  background-position-x: 35px;
  background-position-y: -20px;
  background-repeat: no-repeat;
}

.heading {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 123.6%;
  margin-top: 40px;
  text-transform: capitalize;
}

.sub-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
  font-feature-settings: "calt" off, 'kern' off;
  color: #767676;
  width: 40%;
  margin: 0 auto;
}

.edu-div {
  /* width: 1130px; */
  height: fit-content;
  background-color: var(--primary);
  margin-top:35px;
  padding: 50px 45px
}

.edu-section {
  display: flex;
  justify-content: space-between;
}

.edu-name {
  width: 40%;
}

.edu-desc {
  width: 60%;
}

.edu-text-1 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 123.6%;
  text-transform: capitalize;
  color: #2b2b2b;
}

.edu-text-2 {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-transform: capitalize;
  color: #2b2b2b;
  font-feature-settings: "calt" off, 'kern' off;
}

.edu-text-3 {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-transform: capitalize;
  color: #2b2b2b;
  font-feature-settings: "calt" off, 'kern' off;
  text-align: justify;
}

.duration {
  background-color: var(--yellow);
  width: 111px;
  height: 18px;
  color: var(--primary);
  padding: 0 5px;
  font-size: 14px;
  margin-left: 10px;
}

.cards-container{
  display: flex;
  justify-content: space-between;
  /* justify-content: space-evenly; */
  justify-items: center;
  margin:10px 45px;
  flex-wrap: wrap;
}

.card{
  width:330px;
  height:330px;
  background-color: var(--primary);
  box-shadow: 0px 1px 3px gray;
  margin-top: 20px;
  border-radius: 5px;
  padding: 25px;
}

.star{
  height:15px;
}

.comment-heading{
  margin-top: 15px;
  font-weight: 700;
  font-size: 16px;
}
.detailed-comment{
  margin-top: 15px;
  width:fit-content;
  height: 90px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: justify;
  padding: 7px 12px;
}

.testimonial{
  display: flex;
  /* justify-content: space-between; */
}

.test-dp{
  width:80px;
  height:80px;
  border-radius: 50%;
  background-color: #767676;
  background-image: url('./pictures/dp.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
}

.test-detail{
  margin-top: 10px;
  margin-left: 10px;
  padding-top: 5px;
  /* width:70%; */
}
.test-name{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 123.6%;
  text-transform: capitalize;
  color: #2b2b2b;
}

.test-title{
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-transform: capitalize;
  font-feature-settings: "calt" off, 'kern' off;
  color: #767676;
  padding-top: 6px;
}